body{
    overflow-x: hidden;
}
.input{
    border: none;
    background-color: #DCDCDC;
    width: 200px;
    padding: 7px
   
    ;
}

#food-input{
    margin-left: 16px;
}
#rent-input{
    margin-left: 17px;
}

#calculate-button{
    width: 200px;
}
#second-div{
    background-color: #f8f8f8;
}